<h1>Listing lawyers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Title</th>
      <th>Comments</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lawyers.each do |lawyer| %>
      <tr>
        <td><%= lawyer.first_name %></td>
        <td><%= lawyer.last_name %></td>
        <td><%= lawyer.title %></td>
        <td><%= lawyer.comments %></td>
        <td><%= link_to 'Show', lawyer %></td>
        <td><%= link_to 'Edit', edit_lawyer_path(lawyer) %></td>
        <td><%= link_to 'Destroy', lawyer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lawyer', new_lawyer_path %>
